@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
      to bottom,
      rgba(95, 89, 93, 0.73),
      rgba(70, 71, 83, 0.52)
    ),
    url("./bg.jpg");
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 50px 0 20px 0;
  text-align: center;
  color: #fff;
}

header p {
  font-size: 25px;
  color: lightgrey;
}

.pads {
  background: lightblue;
  width: 100%;
  display: flex;
}

.pads > div {
  height: 100px;
  width: 100px;
  flex: 1;
}

.pads > div:hover {
  cursor: pointer;
  border: 2px solid rgb(59, 87, 211);
}

.pads > div:active {
  background: #524b50;
}

.pad1 {
  background: #603d94;
}

.pad2 {
  background: #c74b4b;
}
.pad3 {
  background: #b39a2e;
}
.pad4 {
  background: #34b86b;
}

.pad5 {
  background: #2b2727;
}
.pad6 {
  background: #9c5487;
}

/*Add animation*/

@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 80%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 80%;
  }
}

.visual > div {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  bottom: 0%;
  z-index: -1;
}
